body {
  background: #66b3ff;
}

.wrapper {
  min-height: 100vh;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(13, 26, 38, 1);
  /*color: #c6d9ec;*/
  color: #000;
  /*background: rgba(230,231,232,1);*/
  /*position: relative;*/
}

section {
  /*z-index: 1;*/
  height: 100vh;
  font-size: 3em;
  font-weight: 100;
  background-color: rgba(230,231,232,0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
    -ms-flex-pack: center;
        justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
}

section .title {
  /*float: left;*/
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
}

section .subtitle {
  clear: both;
  text-align: center;
  font-size: 0.7em;
  padding-bottom: 20px;
}

section .subitem {
  font-size: 0.9em;
  padding-left: 20px;
}

section .subitem a {
  display: block;
  text-decoration: none;
  padding: 0;
  color: #000;
  -webkit-transition: all 0.15s ease-out;
          transition: all 0.15s ease-out;
}

section .subitem a:hover {
  padding-left: 10px;
  cursor: pointer;
}

.blur {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.text {
  width: 40%;
}

@keyframes cardshow {
  from {
    width: 20%;
    height: 20%;
    border-radius: 40%;
  }

/*  80% {
    width: 85%;
    height: 85%;
  }*/
  to {
    width: 80%;
    height: 80%;
    border-radius: 0%;
  }
}

@keyframes cardhide {
  from {
    width: 80%;
    height: 80%;
    visibility: visible;
    opacity: 1;
  } 

  to {
    width: 60%;
    height: 60%;
    visibility: hidden;
    opacity: 0.1;
  }
}

.card {
  visibility: hidden;
  width: 80%;
  height: 80%;
  z-index: 12;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.7);
  text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.2);
  padding: 5em;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card div.title {
  font-size: 3em;
  text-align: center;
}

.cardclose {
  position: absolute;
  display: inline-block;
  padding: 1px 6px;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  border: 4px solid black;
  border-radius: 50%;
  content: "";
  cursor: pointer;
}
.cardclose:before {
  width: 24px;
  height: 4px;
  background-color: black;
  content: "";
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  position: absolute;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cardclose:after {
  width: 24px;
  height: 4px;
  background-color: black;
  content: "";
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  position: absolute;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cardclose {
  -moz-transition: box-shadow 200ms ease-out, -moz-transform 200ms ease-out, opacity 200ms ease-in-out;
  -o-transition: box-shadow 200ms ease-out, -o-transform 200ms ease-out, opacity 200ms ease-in-out;
  -webkit-transition: box-shadow 200ms ease-out, -webkit-transform 200ms ease-out, opacity 200ms ease-in-out;
  transition: box-shadow 200ms ease-out, transform 200ms ease-out, opacity 200ms ease-in-out;
}
.cardclose:after, .cardclose:before {
  -moz-transition: linear 200ms;
  -o-transition: linear 200ms;
  -webkit-transition: linear 200ms;
  transition: linear 200ms;
}
.cardclose:hover {
  -moz-box-shadow: 0px 0px 0px 20px #000 inset;
  -webkit-box-shadow: 0px 0px 0px 20px #000 inset;
  box-shadow: 0px 0px 0px 20px #000 inset;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.cardclose:hover:after {
  background-color: #fff;
  -moz-transform: rotate(-45deg) scale(0.6);
  -ms-transform: rotate(-45deg) scale(0.6);
  -webkit-transform: rotate(-45deg) scale(0.6);
  transform: rotate(-45deg) scale(0.6);
}
.cardclose:hover:before {
  background-color: #fff;
  -moz-transform: rotate(45deg) scale(0.6);
  -ms-transform: rotate(45deg) scale(0.6);
  -webkit-transform: rotate(45deg) scale(0.6);
  transform: rotate(45deg) scale(0.6);
}

.cardfade {
  animation: cardhide .1s;
}

.cardpop {
  visibility: visible;
  animation: cardshow .4s cubic-bezier(.33,1.56,1,.9);
}

.card.card-2 { /* Candide */
  background: #22A7F0;
}

.card.card-3 { /* Pygmalion */
  background: #9B59B6;
}

.card.card-4 { /* Brave New World */
  background: #ffcc00;
}

/* 17 5 129 */

#section2 .parallax__layer--fore { /* Candide */
  background-image: url("https://markb4.files.wordpress.com/2013/04/el-dorado.jpg");
  background-size: 100% 100%;
}

#section4 .parallax__layer--fore { /* Brave New World */
  /*background: rgba(249, 105, 14, 1);*/
  background-image: url("http://www.cinemablend.com/images/sections/71705/brave_new_world_71705.jpg");
  background-size: 100% 100%;
}

#section6 .parallax__layer--fore { /* Original Works */
  background: rgba(3, 201, 169, 1);
}

/*#background4 {
    background: url("../assets/toffia-landscape.jpg") fixed center center no-repeat;
    background-size: 100% 100%;
}*/

/***************
*   Parallax   *
***************/
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__group {
  position: relative;
  height: 100vh;
}
.parallax__layer {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer img {
  max-width: 100%;
  max-height: 100%;
}
.parallax__layer.parallax__layer--base img {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.parallax__layer--fore {
  z-index: 2;
  transform: translateZ(0);
}
.parallax__layer--base {
  z-index: 1;
  transform: translateZ(-0.9px) scale(2.1);
}

/*************
*   Navbar   *
**************/
.nav__wrapper {
  z-index: 10;
  position: fixed;
  width: 30%;
  height: 100%;
  padding: 2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.nav {
  margin: 0 0 20% 8%;
}
.nav__counter {
  font-size: 1.3em;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.nav__title {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0 0 0.25em;
  /*width: 30%;*/
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: height 0.3s ease-out, opacity 0.2s ease-out;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
.nav__body {
  font-weight: 100;
  font-size: 1.2em;
  font-size: 1.2em;
  /*width: 30%;*/
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: height 0.3s ease-out, opacity 0.2s ease-out;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
.nav li {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-bottom: 1em;
}
.nav li:after {
  content: '';
  display: block;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  height: 250px;
  width: 20px;
  position: absolute;
  left: -30px;
  top: 15px;
}
.nav li a {
  display: block;
  padding: 0;
  color: #000;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.nav li a:hover {
  background-color: transparent;
  padding-left: 1em;
}
.nav li a:focus {
  background-color: transparent;
}
.nav li.active {
  pointer-events: none;
  padding-left: 1em;
}
.nav li.active:after {
  width: 35px;
  height: 400px;
  top: 35px;
}
.nav li.active .nav__counter {
  font-size: 2.1em;
  font-weight: 500;
}
.nav li.active .nav__title {
  height: 40px;
  opacity: 1;
  overflow: visible;
}
.nav li.active .nav__body {
  height: 100px;
  opacity: 1;
  overflow: visible;
}
